* {
    margin: 0;
    padding: 0;
}
.h1 {
    color: red;
    font-size: 2rem;
    text-align: center;
}

.h2 {
    color: blue;
    font-size: 1rem;
    text-align: center;
}

/* celular */
@media (max-width: 479px) {
    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .section-a, .section-b, .section-c, .section-d, .section{
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        background-color: rgb(229, 255, 0);
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
    .section-a{
        height: 100vh;
        background-color: rgb(0, 255, 55);
    }
    .section-b{
        background-color: rgb(0, 255, 55);
    }
    .section-c{
        background-color: rgb(0, 255, 55);
    }
    .section-d{
        background-color: rgb(0, 255, 55);
    }
    .footer{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        background-color: rgb(249, 182, 255);
        justify-content: center;
        align-items: center;
    }
}
/* tablet */
@media (min-width: 480px) and (max-width: 820px) {
    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .A{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "section-a section-a"
        "1 2"
        "3 4";
    }.section-a{
        grid-area: section-a;
        background-color: rgb(0, 255, 55);
    }
    .section{
        grid-area: section;
        background-color: rgb(229, 255, 0);
    }
}





